alembic==1.13.1
aniso8601==9.0.1
astroid==3.1.0
blinker==1.7.0
click==8.1.7
colorama==0.4.6
-e git+https://github.com/ArmiKorhonen/Cosmetic-Formulation-API-Project.git@eb9509d135cc7b74425be5d478af0891a3d1ec39#egg=CosmeApi
coverage==7.4.3
dill==0.3.8
Flask==3.0.2
Flask-Cors==4.0.0
Flask-Migrate==4.0.5
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-Testing==0.8.1
greenlet==3.0.3
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.3
Mako==1.3.2
MarkupSafe==2.1.5
mccabe==0.7.0
packaging==23.2
platformdirs==4.2.0
pluggy==1.4.0
pylint==3.1.0
pytest==8.0.2
pytest-cov==4.1.0
pytest-flask==1.3.0
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.25
tomlkit==0.12.4
typing_extensions==4.9.0
Werkzeug==3.0.1
